
.joke-main {
  margin-top: 30vh !important;
 
}

.setup{
 color: red;
}
.punchline{
 color: green;
}
html{
  height:100%;
  margin:0;
}

body{
  background-color: black;
  color:  #fff;
  background-image: url('../images/bg.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100%;
  width:100%;
  margin:0;
}

.ml2 {
  font-weight: 900;
  font-size: 2.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
 

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 2em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.footer{
  position: fixed;
  bottom: 50px;
  left: 35%;
  color: #707880;
  opacity: 0.9;
}